@tailwind base;
@tailwind components;
@tailwind utilities;

@import "nucleo-icons";
@import "nucleo-svg";
@import "perfect-scrollbar";
@import "soft-ui-dashboard-tailwind";
@import "tooltips";

.font-white {
    color: #fff;
}
